<div class="jumbotron">
  <div class="container">
    <h1>Welcome to our Blog of Ecuadorian clothing</h1>
    <p>Discover our traditional clothing</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="blog-post">
        <p>There are several types of clothing in Ecuador, but some can be mentioned by regions which each one shows its essence and how it differs from the others:</p>
        <h2 class="post-title">Sierra</h2>
        <p class="post-meta">Fecha de publicación: 27 de mayo, 2023</p>
        <p class="post-content">The clothing of the natabuelas are mainly the blouse that are typically embroidered with motifs phytomorphs such as flowers, also their medium puffed sleeves, black anacos and espadrilles of this same color, wear a white hat that used to be made made of pressed sheep's wool, they also wear a scarf that is placed on the shoulder or on the head and finally the accessories like the necklaces.</p>
        <img src="../../assets/images/vestimentasierra.png" alt="">
      </div>

      <div class="blog-post">
        <h2 class="post-title">Costa</h2>
        <p class="post-meta">Fecha de publicación: 26 de mayo, 2023</p>
        <p class="post-content">Here we can see the clothing of the montubios this is made up of a blouse with flights these know how to be adorned with patterns of flowers, also make up a long and large skirt who use them for typical dances, also carry as an accessory a turban.</p>
        <img src="../../assets/images/vestimentacosta.png" alt="">
      </div>

      <div class="blog-post">
        <h2 class="post-title">Amazonia</h2>
        <p class="post-meta">Fecha de publicación: 26 de mayo, 2023</p>
        <p class="post-content">The clothing of the Amazon is made up of a blue dress that usually used by the shoulder left, they also use accessories that are made by the Tagua seed by hand, they use them as necklaces, bracelets, and earrings.</p>
        <img src="../../assets/images/vestimentamazonica.png" alt="">
      </div>

      <p>These clothes are typical so much that they are inspiration for various catwalks and which always take into account shapes, colors and what they represent, here we can see a design made for Miss Grand Ecuador:</p>
      <img src="../../assets/images/miss.png" alt="">

      <p>Also an Ecuadorian designer, who in her latest collection RESPIRAR made designs referring to the aesthetics of Ecuadorian indigenous clothing, which represents a lot to Ecuador, some are made by hand, the designer is called Lía Padilla.</p>
      <img src="../../assets/images/diseñadores.png" alt="">
      <br>
      <br>
    </div>

    <div class="col-md-4">
      <div class="sidebar">
        <div class="widget">
          <h4>Categorías</h4>
          <ul>
            <li><a href="#">Vestimenta Sierra</a></li>
            <li><a href="#">Vestimenta Costa</a></li>
            <li><a href="#">Vestimenta Amazonia</a></li>
          </ul>
        </div>
        <div class="widget">
          <h4>Publicaciones Recientes</h4>
          <ul>
            <li><a href="#">Sierra - 27 de mayo, 2023</a></li>
            <li><a href="#">Costa - 26 de mayo, 2023</a></li>
            <li><a href="#">Amazonia - 26 de mayo, 2023</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
