<!-- app.component.html -->
<app-navbar></app-navbar>
<br />
<br />
<!-- Page Content -->
<div class="container mt-4">
  <h1>Welcome to Discover Ecuador</h1>
  <p>
    Welcome to Discover Ecuador! This exciting project brings together the areas
    of <b>software development, tourism, and fashion</b> design to offer you a
    unique experience. Our main goal is to provide you with a cultural
    perspective through detailed information about Ecuador's impressive tourist
    destinations and fascinating traditional attire. But that's not all. In
    addition to exploring Ecuador's cultural richness, we have also included
    an<b> exciting trivia </b> on this website. It's your perfect opportunity to
    test your English comprehension level and have fun at the same time!
  </p>
  <!-- Attire Section -->
  <section id="attire">
    <h2>Attire</h2>
    <!-- Add information about the traditional attire of Ecuador here -->
    <app-outfit></app-outfit>
  </section>

  <!-- Tourist Spots Section -->
  <section id="tourist-spots">
    <h2>Tourist Spots</h2>
    <!-- Add the list of tourist spots in Ecuador here -->
    <app-tourist-places></app-tourist-places>
  </section>
  <br />
  <br />
  <br />
  <br />
  <!-- Roulette Section -->
  <section
    id="roulette"
    style="display: flex; justify-content: center; align-items: center"
  >
    <div style="text-align: center">
      <h2>Roulette</h2>
      <br />
      <br />
      <br />
      <!-- Add the roulette component here -->
      <app-roulette></app-roulette>
      <br />
      <br />
      <br />
    </div>
  </section>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <!-- Team Section -->
  <section id="team">
    <h2>Our Team</h2>
    <p>
      Meet the members of our team
    </p>
    <!-- Add information about the team members and their project experience here -->
    <div class="row">
      <div class="col-md-4">
        <h3>Christian Aguirre</h3>
        <div class="circle-img">
          <img
            src="../assets/images/chris.jpg"
            alt="Member 1"
            class="img-fluid"
          />
        </div>
        <p>Software development</p>
      </div>
      <div class="col-md-4">
        <h3>Jessica Ayala</h3>
        <div class="circle-img">
          <img
            src="../assets/images/jessy.jpg"
            alt="Member 2"
            class="img-fluid"
          />
        </div>
        <p>Software development</p>
      </div>
      <div class="col-md-4">
        <h3>Dilan Haro</h3>
        <div class="circle-img">
          <img
            src="../assets/images/dilan.jpg"
            alt="Member 3"
            class="img-fluid"
          />
        </div>
        <p>Software development</p>
      </div>
      <div class="col-md-4">
        <h3>Ana Betancourt</h3>
        <div class="circle-img">
          <img
            src="../assets/images/ana.jpg"
            alt="Member 4"
            class="img-fluid"
          />
        </div>
        <p>Fashion design</p>
      </div>
      <div class="col-md-4">
        <h3>Sandra Manosalvas</h3>
        <div class="circle-img">
          <img
            src="../assets/images/sandra.jpg"
            alt="Member 5"
            class="img-fluid"
          />
        </div>
        <p>Tourism</p>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
