<body>
  <main>
    <div class="jumbotron">
      <h1>Tourist Places of Ecuador</h1>
    </div>
  </main>
  <br />

  <main>
    <div class="card">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Cayambe_Vulkan_w.jpg/300px-Cayambe_Vulkan_w.jpg"
        alt="Product Image"
      />
      <h3>Cayambe</h3>
      <p>
        Cayambe, also known as San Pedro de Cayambe, is an Ecuadorian city;
        cantonal capital of the Canton Cayambe, as well as the third largest and
        most populated city in the Province of Pichincha. It is located north of
        the Inter-Andean region of Ecuador, in the basin of the Guayllabamba
        river, on the slopes of the Cayambe volcano, crossed by the Granobles,
        Pulusí, Blanco and La Isla rivers, at an altitude of 2830 masl and with
        an Andean climate of 14 ° C in average. The Cayambe festivities are very
        important and recognized throughout Ecuador, it begins in the middle of
        the month of June and end at the beginning of July, with many events and
        especially its popular bullfights. It is the feast of San Pedro, feast
        known as Inti raymi in which the "Harvest Festival" is celebrated. On
        June 29, one of the the most important festivities where 30,000 dancers
        with songs and dances take over the central square of this canton making
        allegory to the ancestral and the religious. The clothing of the people
        who participate in the festivities is: shirt embroidered, skirt (follera
        or center) adorned at its edges, embroidered sash with fringes,
        espadrilles, chokers, hat adorned with colored ribbons, mask. The men
        wear zamarros (lambskin pants or goat). In traditional festivals, there
        is a wide variety of typical dishes, but the best known is the one
        served nickname with potatoes, accompanied with a peanut sauce and where
        the roast guinea pig is not missing. In addition to the delicacy of
        milk, sheet cheese, biscuits. In April and May the parish of Ayora
        invites locals and strangers to launch the festivities. In the location
        of the equinoctial or Equatorial line there is also one of the beautiful
        tourist places that has the city of Cayambe. Places to visit: Puntiatzil
        Guachala Farm The ball The Cayambe Volcano The lagoons of San Marcos
        Guachala Castle The Cabins of Naples Paquiestancia community and primary
        forests
      </p>
    </div>

    <div class="card">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Vista_del_Volc%C3%A1n_Chimborazo_desde_Riobamba.jpg/450px-Vista_del_Volc%C3%A1n_Chimborazo_desde_Riobamba.jpg"
        alt="Product Image"
      />
      <h3>Riobamba</h3>
      <p>
        Riobamba, also known as San Pedro de Riobamba, is an Ecuadorian city;
        cantonal capital of the Canton Riobamba and capital of the province of
        Chimborazo, as well as its largest and most populated city. It is
        located at center of the Inter-Andean region of Ecuador, near the
        geographic center of the country, surrounded by several volcanoes such
        as the Chimborazo, the Tungurahua, the Altar and the Carihuairazo; in
        the basin of the Chambo River, on the left bank of the river Chibunga.
        Popular Festivals of Riobamba Fiesta del Niño Rey de Reyes (starts in
        December and ends on January 6). Independence of Riobamba: April 21.- It
        is the most important celebration. Cultural activities are organized
        civics throughout the month; Among the events are colorful parades,
        artistic shows, the Macají Fair and the Bullfighting Fair called "Lord
        of Good Success". Emancipation from Spanish rule: November 11. Christmas
        - Children's Passes: From the month of December to January, children's
        passes are carried out. It's a party where the Catholic faith and
        folklore come together, also with colorful characters, among them are
        the curiquingues, the sacharuna, the traditional clown, the vassals, the
        Yaruquíes dancers, and the famous devil rattle. And the music and dance
        parade through the streets of Riobamba. Christmas is lived as a national
        holiday but in Riobamba it is much more than that. Inti Raymi, also
        known as the Festival of the Sun, ancient cultures have traditionally
        held this festival. In the indigenous community of Cacha of Puruhá -
        Inca origin, the Andean ritual is preserved. Cacha is located so only
        half an hour from Riobamba. In Riobamba the Carnival is celebrated every
        year, know how the Carnival Ecuador is celebrated Religious Tourism in
        Riobamba Route of the churches of Riobamba: On the route you can see the
        Cathedral of Riobamba, which is a symbol of Catholic religiosity, on its
        stones passages from the Old and New Testaments can be interpreted with
        expressions Aboriginal and Spanish. Riobamba Child Passes: One of the
        cultural and religious manifestations that has been recognized as
        Heritage Intangible Cultural of Ecuador, such as indigenous culture and
        its indigenous nationalities.
      </p>
    </div>

    <div class="card">
      <img
        src="https://i.ytimg.com/vi/0M6xlnvS6HQ/maxresdefault.jpg"
        alt="Product Image"
      />
      <h3>Latacunga</h3>
      <p>
        Latacunga, also known as San Vicente Mártir de Latacunga, is an
        Ecuadorian city; cantonal head of the Latacunga Canton and capital of
        the Cotopaxi Province, as well as its largest and most populated city.
        HE It is located in the center-north of the Inter-Andean Region of
        Ecuador, in the basin of the Patate river, crossed by the Cutuchi
        rivers. and Pumacunchi. Latacunga Festivals La Mama Negra, a symbolic
        festival of Latacunga, together with its main characters. Mama Negra
        Festival: independence of Latacunga. Parades, cultural events and town
        bullfights Date: November 11 Place: streets of the city. Bailes de
        Inocentes: dances, costumes, masquerades, typical foods. Date: December
        28 to January 6. Place: Vicente Leon Park Feast of the Virgen de las
        Mercedes: vespers, masquerades, town bands, fireworks, midnight mass,
        religious procession. In Latacunga: procession of the "Mama Negra" Date:
        September 23 - 27 Place: streets of the city. Festival in honor of the
        Holy Cross in the Joseguango Alto neighborhood: During the month of
        September Festival in honor of Dr. San Buenaventura that is celebrated
        in the parish of the same name: On July 14, celebrates the most holy
        tragedy of the Black Mama and the Captaincy, with a multicolored parade,
        here the Black Mama was born, the parade takes place through the streets
        of the parish that go to the Sanctuary of Dr. San Buenaventura in the
        Barrio Center. San Isidro Labrador Bullfighting Fair: It is a
        world-famous bullfighting fair, held at the end of November in the San
        Isidro Labrador bullring of the Cantonal Agricultural Center, in this
        bullring some of the best bullfighters of the world.7 Bullfighting was
        declared Intangible Cultural Heritage according to the convention of the
        Unesco in 2012.8 Carnival Parties: On the dates of the carnival,
        Latacunga has been organizing some carnival parades such as "El Carnaval
        de las Rosas" and "El Mashcarnaval", has also organized some artistic
        and cultural events for cheer up the population and the tourists who
        arrive on those dates.
      </p>
    </div>
    <div class="card">
      <img
        src="https://www.livingecuadortravel.com/wp-content/uploads/2021/01/Ambato-y-volcan-tungurahua-by-Robinson-Recalde.jpg"
        alt="Product Image"
      />
      <h3>Ambato</h3>
      <p>
        Ambato, also known as San Juan Bautista de Ambato, is an Ecuadorian
        city; cantonal capital of Ambato Canton and capital of the Tungurahua
        Province, as well as its largest and most populated city. Although the
        city of Ambato has been considered as a city of passage and connection
        to other destinations, in the Today draws the attention of tourism given
        its colonial history, its intercultural diversity, its scenic riches and
        the proximity to other tourist centers such as Baños, the Sangay
        National Park, etc. Furthermore, the city is surrounded by the
        Tungurahua, Carihuairazo, and Chimborazo volcanoes that make up the
        Andean contour. Its pleasant climate Mediterranean, very temperate,
        sunny in summer and rural in winter are the attractive hallmarks of the
        Andean city. Over the years, Ambato has notably increased its tourist
        offer. Ambato has a varied hotel offer. The city has 4-star hotel
        centers, the areas somewhat more far from the city they have inns,
        farms, ranches and community tourism establishments, and, finally,
        Mountain and country areas take advantage of community tourism, allowing
        the creation of tourism projects distributed in each of their parishes.
        Several of them offer lodging, walks, visits to communities indigenous
        people, local gastronomy, crafts and music. As for ecological tourism,
        the city has spacious areas green areas around it, and most of the
        nearby forests and tourist attractions are under its jurisdiction. Life
        nightlife is active, especially on weekends and is concentrated in
        different centers such as restaurants, bars, discotheques and other
        places.
      </p>
    </div>
  </main>
   
</body>
